doctype html
html(lang="en")
    head
        title Update superhero info
        link(rel="stylesheet", href="/css/style.css")
    body.form-wrapper
        form(method="POST")
            label(for="name") Superhero Name
            input(type="text" name="name" required)

            label(for="alliance") Superhero Alliance
            input(type="text" name="alliance" required)

            label(for="enemy") Superhero Archenemy
            input(type="text" name="enemy" required)

            input(type="submit" value="Submit")
        a(href="/") Return to the homepage